Allow additional typ header values when signing JWTs

The `sign` method currently only allows `typ` to be "JWT" or "JWE" and errors on anything else:
```lua
  -- Optional header typ check [See http://tools.ietf.org/html/draft-ietf-oauth-json-web-token-25#section-5.1]
  if typ ~= nil then
    if typ ~= str_const.JWT and typ ~= str_const.JWE then
      error({reason="invalid typ: " .. typ})
    end
  end
``` 

While this conforms to the recommendations in RFC7523, newer RFCs and drafts override this by proposing distinct `typ` values for specific use cases. Few of them are:
- [RFC 9068](https://datatracker.ietf.org/doc/html/rfc9068) section 2.1 – `at+jwt` for JWT access tokens
- [RFC 9701](https://datatracker.ietf.org/doc/html/rfc9701) section 5 - `token-introspection+jwt` for JWT Response for OAuth Token Introspection
- [RFC 9449](https://datatracker.ietf.org/doc/rfc9449/) section 4.2 - `dpop+jwt` for Demonstrating Proof of Possession JWT tokens
- [RFC 7523bis draft](https://datatracker.ietf.org/doc/draft-ietf-oauth-rfc7523bis/) section 4 – `client-authentication+jwt` for RFC 7523 JWT OAuth2 assertions - the one I actually need 😄 

Newer RFCs will likely introduce new values for `typ` header, so it would be cool to maintain an up to date list or drop this validation.

Fantastic issue context! I should be able to have this for you by end of week!

Glad to see people are using!

Any updates? 
If you need help on this, you can just give me some guidelines on how do you want this handled 😄

Haven't had the time! Open to PRs. All the tools for testing are there!

Will hopefully have time this weekend!